.mat-datepicker-content {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	display: block;
}

.mat-calendar {
	width: 296px;
}

.mat-datepicker-content-touch {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
	display: block;
	max-height: 80vh;
	overflow: auto;
	margin: -24px;
}

.mat-datepicker-content-touch .mat-calendar {
	width: 64vmin;
	height: 80vmin;
	min-width: 250px;
	min-height: 312px;
	max-width: 750px;
	max-height: 788px;
}