<table style="width:100%" cellspacing="0">
  <tr><th class="mat-calendar-table-header-divider" colspan="7" aria-hidden="true"></th></tr>
</table>
<div class="mat-time-container">
  <div class="mat-time-button-wrapper">
    <div class="mat-time-button">
      <button *ngIf="!_isCompatibilityMode" md-icon-button class="mat-calendar-up-button"
            (click)="_increaseHoursClicked()"
            [attr.aria-label]="_increaseHoursButtonLabel">
      </button>
       <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-up-button"
            (click)="_increaseHoursClicked()"
            [attr.aria-label]="_increaseHoursButtonLabel">
      </button>
    </div>
    <div class="mat-time-display">
      <input [value]="_getClockHrs(selected)" pattern="\d*" class="mat-time-input" />
    </div>
    <div class="mat-time-button">
      <button *ngIf="!_isCompatibilityMode" md-icon-button class="mat-calendar-down-button"
            (click)="_decreaseHoursClicked()"
            [attr.aria-label]="_decreaseHoursButtonLabel">
      </button>
        <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-down-button"
            (click)="_decreaseHoursClicked()"
            [attr.aria-label]="_decreaseHoursButtonLabel">
      </button>
    </div>
  </div>
  <div class="mat-time-spacer-wrapper">
    <div class="mat-button-spacer-wrapper">
    </div>
    <div class="mat-time-colon-wrapper">
      <div class="mat-time-colon">:</div>
    </div>
    <div class="mat-button-spacer-wrapper"></div>
  </div>
  <div class="mat-time-button-wrapper time-minutes">
    <div class="mat-time-button">
      <button *ngIf="!_isCompatibilityMode" md-icon-button class="mat-calendar-up-button"
            (click)="_increaseMinutesClicked()"
            [attr.aria-label]="_increaseMinutesButtonLabel">
      </button>
       <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-up-button"
            (click)="_increaseMinutesClicked()"
            [attr.aria-label]="_increaseMinutesButtonLabel">
      </button>
    </div>
    <div class="mat-time-display">
      <input [value]="_getClockMins(selected)" pattern="\d*" class="mat-time-input" />
    </div>
    <div class="mat-time-button">
      <button *ngIf="!_isCompatibilityMode" md-icon-button class="mat-calendar-down-button"
            (click)="_decreaseMinutesClicked()"
            [attr.aria-label]="_decreaseMinutesButtonLabel">
      </button>
        <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-down-button"
           (click)="_decreaseMinutesClicked()"
            [attr.aria-label]="_decreaseMinutesButtonLabel">
      </button>
    </div>
  </div>
  <div class="mat-time-button-wrapper" *ngIf="_dateAdapter.is12Hour()">
    <button class="mat-raised-button mat-time-ampm" (click)="_pmClicked()"
            [attr.aria-label]="_ampmButtonLabel">{{ampm}}</button>
  </div>
</div>